@font-face {
  font-family: amazon;
  src: url('/font/Amazon\ Ember.ttf');
}

@font-face {
  font-family: AmazonEmber-Medium;
  src: url('/font/Amazon\ Ember\ Medium.ttf');
}

:root {
  --black: #131921;
  --gray: #ccc;
  --yellow: #febd68;
}

body {
  font-family: amazon;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utility */

/* Colors */

.c-white {
  color: white;
}

/* Colors */

/* background */

/* background */

/* alignment */
.d-flex {
  display: flex;
}

.align-items-c {
  align-items: center;
}

.align-self-end {
  align-self: flex-end;
}

.justify-content-sb {
  justify-content: space-between;
}

.gap-sm {
  gap: 10px;
}

.gap-sm-big {
  gap: 40px;
}
/* alignment */

.container {
  /* max-width: 1400px; */
  margin: 0 auto;
  padding: 0;
}

/* utility */

/* Navbar */
.navbar {
  background: var(--black);
  padding: 5px 15px;
}

.navbar > div > a {
  text-decoration: none;
}

.navbar > div > img {
  height: 50px;
}

.navbar .navbar__search select,
.navbar > div > button::after,
.arrow::after {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
}

.navbar ul {
  list-style: none;
  cursor: pointer;
}

.navbar ul li {
  line-height: 15px;
}

.navbar ul li span {
  font-size: 11px;
  font-weight: 100;
  color: var(--gray);
  font-family: AmazonEmber-Medium;
  display: block;
}

.navbar ul li p {
  font-size: 13px;
}

.navbar .navbar__search {
  flex: 1;
  border-radius: 2px;
  overflow: hidden;
}

.navbar .navbar__search > * {
  border: none;
}

.navbar .navbar__search select {
  border-radius: 2px;
  padding: 10px;
  padding-right: 28px;
  border-right: #ccc 1px solid;
  cursor: pointer;
}

.navbar .navbar__search input {
  width: 100%;
}

.navbar .navbar__search button {
  width: 48px;
  background: var(--yellow);
}

.navbar > div > button {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.navbar > div > button::after,
.arrow::after {
  content: '';
  padding: 15px;
  padding-right: 7px;
  background-image: url("data:image/svg+xml;utf8,<svg fill='grey' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}

.arrow::after {
  padding: 10px;
  padding-right: 15px;
}
/* Navbar */
