@font-face {
  font-family: amazon;
  src: url('/font/Amazon\ Ember.ttf');
}

@font-face {
  font-family: AmazonEmber-Medium;
  src: url('/font/Amazon\ Ember\ Medium.ttf');
}

:root {
  --black-dark: #101111;
  --black: #131921;
  --black-light: #232f3e;
  --black-light-2: #333;
  --gray: #ccc;
  --gray-light: #ddd;
  --white-light: #fafafa;
  --yellow: #febd68;
  --yellow-heavy: #ffd812;
  --blue: #1a788b;
}

body {
  font-family: amazon;
  background: #e9eded;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utility */

/* Colors */

.c-white {
  color: white;
}

.c-blue {
  color: var(--blue);
}

.c-red {
  color: #b32d0e;
}

.c-grey {
  color: #606464;
}

.c-grey-light {
  color: #575959;
}

.c-green {
  color: #007602;
}

.c-black {
  color: var(--black-dark);
}

.c-black-dark {
  color: #030404;
}

.fs-13 {
  font-size: 13px !important;
}
/* Colors */

.w-90 {
  width: 90%;
}

/* alignment */
.txt-center {
  text-align: center;
}

.txt-end {
  text-align: end;
}

.d-flex {
  display: flex;
}

.align-items-c {
  align-items: center;
}

.align-self-end {
  align-self: flex-end;
}

.justify-content-sb {
  justify-content: space-between;
}

.gap-sm {
  gap: 10px;
}

.gap-sm-md {
  gap: 20px;
}

.gap-sm-big {
  gap: 40px;
}
/* alignment */

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.bold {
  font-weight: bold !important;
}

.mY-sm {
  margin: 10px 0;
}

.mY-md {
  margin: 20px 0;
}

.decoration-none {
  text-decoration: none;
}
/* utility */

/* Navbar */
.navbar {
  background: var(--black);
  padding: 5px 15px;
}

.navbar > div > a {
  text-decoration: none;
}

.navbar .navbar__search select,
.navbar > div > button::after,
.arrow::after {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
}

.navbar ul {
  list-style: none;
  cursor: pointer;
}

.navbar ul li {
  line-height: 15px;
}

.navbar ul li span {
  font-size: 11px;
  font-weight: 100;
  color: var(--gray);
  font-family: AmazonEmber-Medium;
  display: block;
}

.navbar ul li p {
  font-size: 13px;
}

.navbar .navbar__search {
  flex: 1;
  border-radius: 2px;
  overflow: hidden;
}

.navbar .navbar__search > * {
  border: none;
}

.navbar .navbar__search select {
  border-radius: 2px;
  padding: 10px;
  padding-right: 28px;
  border-right: #ccc 1px solid;
  cursor: pointer;
}

.navbar .navbar__search input {
  width: 100%;
}

.navbar .navbar__search button {
  width: 48px;
  background: var(--yellow);
}

.navbar > div > button {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.navbar > div > button::after,
.arrow::after {
  content: '';
  padding: 15px;
  padding-right: 7px;
  background-image: url("data:image/svg+xml;utf8,<svg fill='grey' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}

.arrow::after {
  padding: 10px;
  padding-right: 15px;
}
/* Navbar */

/* secondary Navbar */
.secondary-navbar {
  background: var(--black-light);
  height: 40px;
  padding: 0 20px;
}

.secondary-navbar ul,
.nav ul {
  list-style: none;
  height: 100%;
}

.secondary-navbar ul li a {
  color: white;
  font-size: 13px;
  text-decoration: none;
  font-weight: bold;
}
/* secondary Navbar */

/* Nav */
.nav {
  background-color: var(--white-light);
  padding-left: 30px;
  height: 29px;
}

.nav ul li a {
  color: var(--black-light-2);
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
}
/* Nav */

/* cart */
.cart {
  display: flex;
  gap: 20px;
}

.cart .cart__box--1 {
  flex: 3;
}

.cart .cart__box--2 {
  flex: 1;
}

.cart .cart__box main .content-box .price {
  font-size: 13px;
}

.cart .cart__box main .content-box h2 {
  font-size: 26px;
  color: var(--black-dark);
}

.cart .cart__box--2 img {
  width: 100%;
  margin-top: 10px;
}

.cart .cart__box .content,
.cart .cart__box main {
  background-color: white;
  padding: 30px 10px;
}

.cart .cart__box .content h2 {
  font-size: 16px;
  color: var(--black-light-2);
}

.cart .cart__box .content form {
  margin: 1px 0 15px 0;
}

.cart .cart__box .content form label {
  color: var(--black-light-2);
  font-size: 14px;
}

.cart .cart__box .content button {
  width: 100%;
  background: var(--yellow-heavy);
  border: none;
  font-size: 13px;
  color: var(--black-light-2);
  height: 29px;
  border-radius: 5px;
  font-weight: 500;
}
/* cart */

/* component */
.borderT,
.card {
  border-top: 1px solid var(--gray);
  padding-top: 15px;
}

.card {
  display: flex;
  align-items: center;
  height: 250px;
}

.card .price,
.total-price {
  margin-left: auto;
  align-self: flex-start;
  color: var(--black-dark);
  font-size: 16px;
}

.card > div > img {
  object-fit: cover;
}

.card .card-content {
  line-height: 1.2em;
}

.card .card-content ul {
  list-style: none;
  margin-top: 10px;
}

.card .card-content ul li form select {
  border-radius: 5px;
  height: 29px;
  padding: 0 10px;
  color: var(--black-dark);
}

.card .card-content h2 {
  font-size: 16px;
}

.card .card-content p,
.card .card-content span {
  font-size: 11px;
}

.borderX {
  border-right: var(--gray-light) 1px solid;
  border-left: var(--gray-light) 1px solid;
  padding: 0 10px;
}

.borderL {
  border-left: var(--gray-light) 1px solid;
  padding: 0 10px;
}
/* component */
